.subReddit {
  margin-left: 20px;
  font-size: 75%;
  color: blue;
}

.comments {
  margin-top: 10px;
  color: salmon;
}

.green {
  color: green;
}

.red {
  color: red;
}

.gray {
  color: lightgray;
}

.error {
  font-size: 150%;
}

.upvote {
  margin-top: 5px;
}

.score {
  font-size: 150%;
  margin-left: 5px;
  color: gray;
}

.charLimit {
  margin-left: 20px;
}

textarea {
  resize: none;
}